/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
 
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	h1 {
		font-size: 23px;
	}
	h3 {
		font-size: 20px;
	}
	p {
		font-size: 13px;	
	}
	/*about-page*/
	.aside_content {
		padding-top: 0;
	}
	.insade .content {
		padding: 5px 10px;
	}
	.content_header img {
   		width: 180px;
    	height: 180px;
    	border-radius: 50%;
    	margin-bottom: 10px;
	}
	p {
   	 	margin: 0 0 0px;
   	 }
	/*=======contacts_page========*/
	.form_contacts form{
		padding: 5px 5px 5px 5px;
		font-size: 12px;
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
.filter_items {
	padding: 10px 0px 0;
}
.filter_label {
	padding: 3px 9px;
	margin: 0px 2px 2px;
}



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}